@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>

<p>Vous ne disposez pas des droits necessaires pour accéder à cette page. Veuillez contactez l'administrateur</p>